{%load static%}

<footer class="footer hidden">
    <div class="container_reproduzindo">
        <div class="container_infos_musica footer">
            <div class="container_imagem footer">
                <img class="icone_footer" src="imagens/derek-capa1.jpeg">
            </div>
            <div class="container_texto_musica">
                <p class="nome_musica_footer">Essa Vadia Me Estiga</p>
                <p class="nome_artista_footer">Derek</p>
            </div>
            <div class="like_container">
                <svg data-encore-id="icon" fill="white" role="img" aria-hidden="true" viewBox="0 0 16 16"
                    width="20px" height="20px" class="Svg-sc-ytk21e-0 dYnaPI">
                    <path
                        d="M1.69 2A4.582 4.582 0 0 1 8 2.023 4.583 4.583 0 0 1 11.88.817h.002a4.618 4.618 0 0 1 3.782 3.65v.003a4.543 4.543 0 0 1-1.011 3.84L9.35 14.629a1.765 1.765 0 0 1-2.093.464 1.762 1.762 0 0 1-.605-.463L1.348 8.309A4.582 4.582 0 0 1 1.689 2zm3.158.252A3.082 3.082 0 0 0 2.49 7.337l.005.005L7.8 13.664a.264.264 0 0 0 .311.069.262.262 0 0 0 .09-.069l5.312-6.33a3.043 3.043 0 0 0 .68-2.573 3.118 3.118 0 0 0-2.551-2.463 3.079 3.079 0 0 0-2.612.816l-.007.007a1.501 1.501 0 0 1-2.045 0l-.009-.008a3.082 3.082 0 0 0-2.121-.861z">
                    </path>
                </svg>
            </div>
        </div>
    </div>
    <div class="botoes-controle">
        <i class="fas fa-random"></i>
        <button style="background-color: transparent;" onclick="reprodutor.voltarMusica()">
            <i class="fas fa-step-backward"></i>
        </button>

        <button class="botao_footer play_pause" style="background-color: transparent;"
            onclick="reprodutor.reproduzirLista()">
            <i class="play-pause fas fa-play"></i>
        </button>
        <button style="background-color: transparent;" onclick="reprodutor.avancarMusica()">
            <i class="fas fa-step-forward"></i>
        </button>
        <button class="botao_recomecar" onclick="reprodutor.recomecarMusica()" style ="background-color: transparent;">
        <i class="fas fa-undo-alt"></i>
        </button>
    </div>
    <div class="barra_controle">
        <span>0:49</span>
        <div class="barra_de_progresso">
            <div class="progresso"></div>
        </div>
        <span>3:15</span>
    </div>
</footer>