{%extends 'base.html'%}
{%load static%}

{%block content%}
<div class="perfil_artista">
    <div class="banner">
        <div class="itens_banner">
            {%if dados.album.foto_album%}
            <div class="icone_artista">
                <img class="imagem_icone_artista quadrada" src="/media/{{dados.album.foto_album}}" alt="imagem_album">
            </div>
            {%endif%}
            <div class="texto_banner">
                <h1 class="nome_artista">{{dados.album.titulo_album}}</h1>
            </div>
        </div>
    </div>
    <div class="menu_maisOuvidas">
        {%include 'partials/_menu_botoes.html'%}
        <div class="menu_central_espacamento">
            <p class="titulo_maisOuvidas"># Título</p>
            <div class="musicas_maisOuvidas_container">
                <ol class="lista_maisOuvidas">
                    {%for musica in dados.musicas%}
                    <button class="reprodutor {{musica.musica_formatada}}"
                        style="background-color: transparent; width: 100%;">
                        <li class="musicas_maisOuvidas">1
                            <div class="texto_musica">
                                <p class="texto_padrao titulo_musica">{{musica.titulo_musica}}</p>
                                <p class="texto_padrao duracao">{{musica.duracao_formatada}}</p>
                            </div>
                        </li>
                    </button>
                    {%endfor%}
                </ol>
            </div>
        </div>
        {%for musica in dados.musicas%}
        <audio id="audio_{{musica.musica_formatada}}" controls style="display: none;">
            <source src="/media/{{musica.audio_mp3}}" type="audio/mpeg">
        </audio>
        {%endfor%}
        {%endblock%}