{%extends 'base.html'%}
{%load static%}

{%block content%}
<div class="perfil_artista">
    <div class="banner">
        <div class="itens_banner">
            {%if dados.album.foto_album%}
            <div class="icone_artista">
                <img class="imagem_icone_artista quadrada" src="/media/{{dados.album.foto_album}}" alt="imagem_album"
                    style="border-radius: 0%;">
            </div>
            {%endif%}
            <div class="texto_banner">
                <h1 class="nome_artista">{{dados.album.titulo_album}}</h1>
            </div>
        </div>
    </div>
    <div class="menu_maisOuvidas">
        {%include 'partials/_menu_botoes.html'%}
        <div class="menu_central_espacamento">
            <p class="titulo_info" style="width: 80px;margin-left: 30px;margin-bottom: 10px;">#Título</p>
            <hr style="border-top: 1px solid #3d3d3d;">
            <div class="musicas_maisOuvidas_container">
                <ol class="lista_maisOuvidas">
                    {%for musica in dados.musicas%}
                    <button class="reprodutor {{musica.musica_formatada}}"
                        style="background-color: transparent; width: 100%;">
                        <li class="musicas_maisOuvidas">
                            <div class="texto_musica" style="gap: 600px;">
                                <div style="display: flex; flex-direction: row; align-items: center;">
                                    <p class="numero_padrao"></p>
                                    <div style="display: flex;flex-direction: column;">
                                        <p class="texto_padrao titulo_musica" style="min-width: 100px;">
                                            {{musica.titulo_musica}}</p>
                                        <a class="artista_musica" style="min-width: 100px;"
                                            href="{%url 'artista' musica.album.artista.nome_artista%}">
                                            {{musica.album.artista.nome_artista}}
                                        </a>
                                    </div>

                                </div>
                                <p class="texto_padrao duracao">{{musica.duracao_formatada}}</p>
                            </div>
                        </li>
                    </button>
                    {%endfor%}
                </ol>
            </div>
        </div>
        
        <div class="container_albuns">
            <div class="container_h2_albuns">
                <h2 class="texto_padrao nome_container">Mais de {{dados.album.artista.nome_artista}}</h2>
            </div>
            <div class="albuns">
                {%for album in dados.albuns%}
                <a href="{%url 'album' album.titulo_album%}">
                    <div class="album">
                        <div class="container_conteudo">
                            <img class="icone_album" src="/media/{{album.foto_album}}">
                        </div>
                        <h1 class="texto_padrao titulo_album">{{album.titulo_album}}</h1>
                        <p class="texto_padrao ano_lancamento">{{album.ano_lancamento}}</p>
                    </div>
                </a>
                {%endfor%}
            </div>
        </div>

        {%for musica in dados.musicas%}
        <audio id="audio_{{musica.musica_formatada}}" controls style="display: none;">
            <source src="/media/{{musica.audio_mp3}}" type="audio/mpeg">
        </audio>
        {%endfor%}
        {%endblock%}