{%extends 'base.html'%}
{%load static%}


{%block content%}
<div class="perfil_artista">
    <div class="banner" style="background-image: url('/media/{{dados.artista.banner_artista}}');">
        <div class="itens_banner">
            {%if dados.artista.icone_artista%}
            <div class="icone_artista">
                <img class="imagem_icone_artista" src="/media/{{dados.artista.icone_artista}}" alt="fotoartista">
            </div>
            {%endif%}
            <div class="texto_banner">
                <div class="container_verificado">
                    <svg class="icone_verificado" data-encore-id="icon" role="img" aria-hidden="true"
                        class="Svg-sc-ytk21e-0 gxNUVX b0NcxAbHvRbqgs2S8QDg" viewBox="0 0 24 24">
                        <path
                            d="M10.814.5a1.658 1.658 0 0 1 2.372 0l2.512 2.572 3.595-.043a1.658 1.658 0 0 1 1.678 1.678l-.043 3.595 2.572 2.512c.667.65.667 1.722 0 2.372l-2.572 2.512.043 3.595a1.658 1.658 0 0 1-1.678 1.678l-3.595-.043-2.512 2.572a1.658 1.658 0 0 1-2.372 0l-2.512-2.572-3.595.043a1.658 1.658 0 0 1-1.678-1.678l.043-3.595L.5 13.186a1.658 1.658 0 0 1 0-2.372l2.572-2.512-.043-3.595a1.658 1.658 0 0 1 1.678-1.678l3.595.043L10.814.5zm6.584 9.12a1 1 0 0 0-1.414-1.413l-6.011 6.01-1.894-1.893a1 1 0 0 0-1.414 1.414l3.308 3.308 7.425-7.425z">
                        </path>
                    </svg>
                    <p class="texto texto_banner">Artista Verificado</p>
                </div>
                <h1 class="nome_artista">{{dados.artista.nome_artista}}</h1>
                <p class="texto texto_banner">{{dados.artista.visualizacoes_formatadas}} ouvintes mensais</p>
            </div>
        </div>
    </div>
    <div class="menu_maisOuvidas">
        
        <script>
            document.addEventListener("DOMContentLoaded", function() {
            carregarLis();
        });

        </script>

        {%include 'partials/_menu_botoes.html'%}
        <div class="menu_central_espacamento">
            <h2 class="titulo_maisOuvidas">Mais Ouvidas</h2>
            <div class="musicas_maisOuvidas_container">
                <ol class="lista_maisOuvidas">
                    {%for musica in dados.musicas%}
                    <button class="reprodutor {{musica.musica_formatada}}" style="background-color: transparent; width: 100%;">
                        <li class="musicas_maisOuvidas">
                            <p class="numero_padrao"></p>
                            <div class="foto_titulo">
                                <img class="imagem album1" src="/media/{{musica.album.foto_album}}" alt="capa"
                                    width="20px" height="20px">
                            </div>
                            <div class="texto_musica">
                                <p class="texto_padrao titulo_musica">{{musica.titulo_musica}}</p>
                                <p class="texto_padrao visualizacoes">{{musica.visualizacoes_formatadas}}</p>
                                <p class="texto_padrao duracao">{{musica.duracao_formatada}}</p>
                            </div>
                        </li>
                    </button>
                    {%endfor%}
                </ol>
                <button class="ver_mais" onclick="mostrarTodos()" style="background-color: transparent;">
                    <span>Ver mais</span>
                </button>
            </div>

            <div class="container_albuns">
                <div class="container_h2_albuns">
                    <h2 class="texto_padrao nome_container">Albuns</h2>
                </div>
                {%include 'partials/_albuns_artista.html'%}
            </div>
        </div>


    </div>


</div>
{%for musica in dados.musicas%}
<audio id="audio_{{musica.musica_formatada}}" controls style="display: none;">
    <source src="/media/{{musica.audio_mp3}}" type="audio/mpeg">
</audio>
{%endfor%}

{%endblock%}