{%extends 'base.html'%}
{%load static%}

{%block content%}
<div class="perfil_artista">
    <header class="menu_central_header">
        <div class="botoes_header_central esquerda">
            <button class="botao pequeno">
                <svg data-encore-id="icon" role="img" width="15px" fill="white" aria-hidden="true"
                    class="Svg-sc-ytk21e-0 cAMMLk IYDlXmBmmUKHveMzIPCF" viewBox="0 0 16 16">
                    <path
                        d="M11.03.47a.75.75 0 0 1 0 1.06L4.56 8l6.47 6.47a.75.75 0 1 1-1.06 1.06L2.44 8 9.97.47a.75.75 0 0 1 1.06 0z">
                    </path>
                </svg>
            </button>
            <button class="botao pequeno">
                <svg data-encore-id="icon" role="img" width="15px" fill="white" aria-hidden="true"
                    class="Svg-sc-ytk21e-0 cAMMLk IYDlXmBmmUKHveMzIPCF" viewBox="0 0 16 16">
                    <path
                        d="M4.97.47a.75.75 0 0 0 0 1.06L11.44 8l-6.47 6.47a.75.75 0 1 0 1.06 1.06L13.56 8 6.03.47a.75.75 0 0 0-1.06 0z">
                    </path>
                </svg>
            </button>
        </div>
        <div class="botoes_header_central direita">
            <button class="botao largo">Paga nois</button>
            <button class="botao pequeno"><svg data-encore-id="icon" fill="#b3b3b3" role="img" aria-hidden="true"
                    viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 dCAvla" width="15px" heigth="3px">
                    <path
                        d="M8 0a5.5 5.5 0 0 0-5.5 5.5v3.069L.307 12.376A.75.75 0 0 0 .25 13h15.5a.75.75 0 0 0-.057-.624L13.5 8.567V5.5A5.5 5.5 0 0 0 8 0zm1.937 14.5H6.063a2 2 0 0 0 3.874 0z">
                    </path>
                </svg></button>
        </div>
    </header>
    <div class="menu_central_sugestoes">
        <div class="menu_central_recentes">
            {%for musica in dados.musicas%}
            <div class="container_musica_central musica1">
                <a href="teste.com"></a>
                <img class="imagem album1" src="/media/{{musica.album.foto_album}}" alt="capa" width="20px" height="20px">
                <div class="container_infos_musica">
                    <p class="titulo_musica">{{musica.titulo_musica}}</p>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="menu_central_escolhas">
        <div class="container_texto_menu_escolhas">
            <div class="texto_menu_escolhas">
                <h2>Feito para você</h2>
            </div>
            <div class="capas_escolhas">
                {%for album in dados.albuns%}
                <div class="container_capa_conteudo">
                    <div class="capa_conteudo">
                        <div class="container_imagem conteudo">
                            <img class="icone_album playlist" src="/media/{{album.foto_album}}">
                        </div>
                        <a href="{%url 'album' album.titulo_album%}">
                            <p class="texto_padrao titulo_album">{{album.titulo_album}}</p>
                        </a>
                        <a class="texto_padrao informacoes" href="{%url 'artista' album.artista.nome_artista%}">{{album.artista.nome_artista}}</a>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
{%endblock%}