{%extends 'base.html'%}
{%load static%}

{%block content%}
<div class="perfil_artista">
    <div class="menu_central_sugestoes">
        <div class="menu_central_recentes">
            {%for musica in dados.musicas%}
            <div class="container_musica_central musica1">
                <a href="teste.com"></a>
                <img class="imagem album1" src="/media/{{musica.album.foto_album}}" alt="capa" width="20px"
                    height="20px">
                <div class="container_infos_musica">
                    <p class="titulo_musica">{{musica.titulo_musica}}</p>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="menu_central_escolhas">
        <div class="container_texto_menu_escolhas">
            <div class="texto_menu_escolhas">
                <h2>Feito para você</h2>
            </div>
            <div class="capas_escolhas">
                {%for album in dados.albuns%}
                <div class="container_capa_conteudo">
                    <a href="{%url 'album' album.titulo_album%}">
                        <div class="capa_conteudo">
                            <div class="container_imagem conteudo">
                                <img class="icone_album playlist" src="/media/{{album.foto_album}}">
                            </div>

                            <p class="texto_padrao titulo_album">{{album.titulo_album}}</p>

                            <a class="texto_padrao informacoes"
                                href="{%url 'artista' album.artista.nome_artista%}">{{album.artista.nome_artista}}</a>
                        </div>
                    </a>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
{%endblock%}