*{
    margin: 0;
	padding: 0;
	border: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #b3b3b3;
}

body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
ul{
    list-style: none;
}

li{
    display: flex;
    gap: 15px;
    align-items: flex-end;
    /* flex-direction: row; */
    /* justify-self: center; */
    padding-left: 15px;
    margin: 7px;
}

.menu_lateral{
    background-color: black;
    display: flex;
    width: 400px;
    height: 90vh;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* border-radius: 5px; */
    padding: 10px;
    position: relative;
}

.container_lateral.container1{
    background-color: #121212;
    display: flex;
    /* justify-content: space-between; */
    height: 15%;
    width: 100%;
    border-radius: 6px;
}


.lista_lateral{
    display: flex;
}

.lista_lateral.lista1{
    /* color: #b3b3b3; */
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    /* align-content: stretch; */
    /* align-items: flex-start; */
    padding: 10px;
    width: 90%;
}

.container_lateral.container2{
    background-color: #121212;
    /* display: flex; */
    height: 80%;
    /* width: 100%; */
    border-radius: 6px;
    /* flex-direction: column; */
    overflow-y: auto;
}

.container_lateral.container2::-webkit-scrollbar {
    width: 3px;
    z-index: -1;

  }
.container_lateral.container2::-webkit-scrollbar-thumb {
    border-radius: 40px;
    border: 3px solid black;  
    z-index: -1;
  }

.container_header.lateral{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* height: 10vh; */
    /* width: 100vw; */
    max-width: 94.6%;
    position: absolute;
    /* flex-wrap: wrap; */
    background-color: #121212;
    border-radius: 6px;
    padding-bottom: 10px;
}

.header.lateral{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* height: 40%; */
    /* width: 100%; */
    padding: 10px;
}

.biblioteca{
    display: flex;
    gap: 15px;
    align-items: flex-end;
    /* flex-direction: row; */
    padding-left: 15px;
    margin: 7px;
}

.botoes_header{
    padding-top: 11px;
    padding-right: 20px;
}

.filtros_pesquisa_botoes{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 5px;
}

.botao{
    height: 30px;
    width: 80px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #252323;

}

.sugestoes.container_lateral{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
    padding-top: 90px;
}

.lista_lateral.lista2{
    /* display: flex; */
    flex-wrap: wrap;
    padding: 7px;
}

.container_musica{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    /* text-align: center; */
}

.imagem.album1{
    width:55px;
    height:55px;
    border-radius: 5px;
}

.titulo_musica{
    font-size: 18px;
    margin-left: 10px;
}

.descricao_musica{
    font-size: 10px;
    padding: 2px;
    padding-left: 12px;
}

.perfil_artista{
    background-color: #121212;
    height: 100%;
    width: 70vw;
    min-width: 70vw;
    overflow-y: auto;
    border-radius: 5px;
}

.banner {
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
    background-image: url(imagens/banner-kanye.jpeg);
    background-size: cover;
    background-position: center;
    gap:40px ;
}

.texto_banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.container_logo{
    width: 150px;
    height: 150px;
}

.icone_artista{
    width:100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.nome_artista {
    margin: 0;
    font-size: 6rem;
    color: white;
}

.container_verificado {
    display: flex;
    align-items: center;
}

.icone_verificado {
    width: 24px;
    height: 24px;
    fill: rgb(1, 161, 253);
    margin-right: 5px;
}

.texto.texto_banner {
    font-size: 15px;
    color: white;
}

.menu_maisOuvidas{
    width: 100%;
    flex-direction: column;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 46%, rgba(8,109,18,1) 80%, rgba(12,255,102,1) 100%);
}

.titulo_maisOuvidas{
    width: 100%;
    font-size: 30px;
    padding: 30px;
    padding-bottom:0;
}


.lista_maisOuvidas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.musicas_maisOuvidas{
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.itens_maisOuvidas{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:150px;
}

.foto_titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}

.sugestoes.container_populares{
    display: flex;

}

.menu_central{
    background-color: black;
    display: flex;
    width: 76.5%;
    height: 90vh;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 0px;
}

.menu_central_principal{
    background-color:  #121212;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.menu_central_header{
    display: flex;
    height: 64px;
    width: 100%;
    padding: 16px;
    justify-content: space-between;
    box-sizing: border-box;
}

.botoes_header_central{
    display: flex;
}   

.footer{
    background-color:white;
    height: 11vh;
    width: 100vw;
    display: flex;
    flex-direction:row-reverse;
    bottom: 0;
    flex-wrap: wrap;
    margin:0px;
    margin-top: 0;
    position: fixed;
}