*{
    margin: 0;
	padding: 0;
	border: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #b3b3b3;
}

body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-self: center;
}
ul{
    list-style: none;
}

li{
    display: flex;
    gap: 15px;
    align-items: flex-end;
    flex-direction: row;
    justify-self: center;
    padding-left: 15px;
    margin: 7px;
}

.menu_lateral{
    background-color: black;
    display: flex;
    width: 400px;
    height: 90vh;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
}

.container_lateral.container1{
    background-color: 	#121212;
    display: flex;
    justify-content: space-between;
    height: 15%;
    width:100%;
    border-radius: 6px;
}


.lista_lateral{
    display: flex;
}

.lista_lateral.lista1{
    color: #b3b3b3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: stretch;
    align-items: flex-start;
    padding: 10px;
    width: 90%;
}

.container_lateral.container2{
    background-color: 	#121212;
    display: flex;
    height: 80%;
    width:100%;
    border-radius: 6px;
    flex-direction: column;
    overflow-y: auto;
}

.container_lateral.container2::-webkit-scrollbar {
    width: 3px;
    z-index: -1;

  }
.container_lateral.container2::-webkit-scrollbar-thumb {
    border-radius: 40px;
    border: 3px solid black;  
    z-index: -1;
  }

.container_header.lateral{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    height: 10vh;
    width:100vw;
    max-width: 94.6%;
    position: absolute;
    flex-wrap: wrap;
    background-color: 	#121212;
    border-radius: 6px;
    padding-bottom: 10px;

}

.header.lateral{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40%;
    width:100%;
    padding:10px;
}

.biblioteca{
    display: flex;
    gap: 15px;
    align-items: flex-end;
    flex-direction: row;
    padding-left: 15px;
    margin: 7px;
}

.botoes_header{
    padding-top: 11px;
    padding-right: 20px;
}

.filtros_pesquisa{
    display: flex;
}

.filtros_pesquisa_botoes{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 5px;
}

.botao{
    height: 30px;
    width: 80px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #252323;

}

.sugestoes.container_lateral{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 30px;
}

.lista_lateral.lista2{
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}

.musica{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container_musica{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.imagem.album1{
    width:55px;
    height:55px;
    border-radius: 5px;
}

.titulo_musica{
    font-size: 18px;
    margin-left: 10px;
}

.descricao_musica{
    font-size: 10px;
    padding: 2px;
    padding-left: 12px;
}

.perfil_artista{
    background-color: #121212;
    height: 800px;
    width: 70vw;
    display: flex;
    flex-direction:row-reverse;
    justify-self: center;
    flex-wrap: wrap;
    border-radius: 5px;
    margin:10px;
    margin-top: 0;
}

.footer{
    background-color:white;
    height: 11vh;
    width: 100vw;
    display: flex;
    flex-direction:row-reverse;
    bottom: 0;
    flex-wrap: wrap;
    margin:0px;
    margin-top: 0;
    position: fixed;
}